@media screen and (max-width:800px) {
    .t{
        flex-wrap: wrap;
        justify-content: center;
    }
    
}
@media screen and (max-width:613px) {
    .g{
        width: 400px;
    }
    
}
@media screen and (max-width:1240px) {
    .t{
        flex-wrap: wrap;
        justify-content: center;
    }
}